@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-family: "Poppins", Helvetica, sans-serif;
}

figure {
	display: grid;
	border-radius: 1rem;
	overflow: hidden;
	cursor: pointer;
}
figure > * {
	grid-area: 1/1;
	transition: 0.4s;
}
figure figcaption {
	display: grid;
	align-items: end;
	font-family: sans-serif;
	font-size: 2.3rem;
	font-weight: bold;
	color: #0000;
	padding: 0.75rem;
	background: var(--c, #0009);
	clip-path: inset(0 var(--_i, 100%) 0 0);
	-webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
	-webkit-mask-composite: xor;
	-webkit-mask-clip: text, padding-box;
	margin: -1px;
}
figure:hover figcaption {
	--_i: 0%;
}
figure:hover img {
	transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
	figure figcaption {
		-webkit-mask: none;
		color: #fff;
	}
}

.purchase-button {
	grid-area: auto;
	background-color: #0073e6;
	color: #fff;
	border: none;
	border-radius: 0.5rem;
	z-index: 1000;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
	align-self: start;
	justify-self: start;
	margin-top: 15px;
}

.purchase-button:hover {
	background-color: #005bb5;
}

.ql-editor a {
	color: #007bff;
	text-decoration: underline;
}

.ql-editor a:hover {
	color: #0056b3;
}

.quill-content h1,
.quill-content h2,
.quill-content h3 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.quill-content p {
	margin: 0 0 1rem;
}

.ql-editor ul {
	padding-left: 20px;
	/* Ensure proper indentation */
	list-style-type: disc;
	/* Ensure bullets appear */
}

.ql-editor ol {
	padding-left: 20px;
	/* Ensure proper indentation */
	list-style-type: decimal;
	/* Ensure numbers appear */
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
